.root {
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  padding: 0px;
}
@media (max-width: 511px) {
  .root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.navLinkContainer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (max-width: 511px) {
  .navLinkContainer:global(.__wab_instance) {
    top: auto;
    left: auto;
  }
}
.link__smK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.navSubMenu___7WjDk:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  width: 100vw;
  height: auto;
  z-index: auto;
  display: flex;
}
.navLinkContainer2:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (max-width: 511px) {
  .navLinkContainer2:global(.__wab_instance) {
    top: auto;
    left: auto;
  }
}
.link___9Zdl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.navSubMenu__usQAj:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  width: 100vw;
  height: auto;
  z-index: auto;
  display: flex;
}
.link__xKpju:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (max-width: 511px) {
  .link__xKpju:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__uaifn {
  padding-bottom: 0px;
}
.link__k05E3:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (max-width: 511px) {
  .link__k05E3:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.navLinkContainer3:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (max-width: 511px) {
  .navLinkContainer3:global(.__wab_instance) {
    top: auto;
    left: auto;
  }
}
.link__vPsFl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.navSubMenu__ePPrH:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  width: 100vw;
  height: auto;
  z-index: auto;
  display: flex;
}
.searchIcon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.lockIcon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.text__sym6Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
